.container {
    padding: 50px;
    button {
        margin-right: 5px;
    }
    .table {
        margin-top: 50px;
        border: solid 1px #c5baba;
        .trash {
            padding-left: 15px;
        }
    }
}
